[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.3.2"
python-dotenv = "==1.0.1"
yfinance = "==0.2.54"
matplotlib = "==3.10.0"
scikit-learn = "==1.6.1"
joblib = "==1.4.2"
pandas-ta = "==0.4.71b0"
backtesting = "==0.6.2"

[dev-packages]

[requires]
python_version = "3.12"

